In [7]:
import pandas as pd

"""
1. Predprocesiranje skupa podataka

"""

# Određivanje putanje do CSV datoteke
CSV_FILE_PATH = "/content/anime.csv"

# Učitavanje CSV datoteke (provjerite svoje delimiter u csv datoteci), ispis broja redaka i stupaca
df = pd.read_csv(CSV_FILE_PATH, delimiter=',')
print("CSV size before: ", df.shape)

CSV size before:  (17562, 35)

In [8]:
df = df.drop(columns=['Japanese name']) # Brisanje nepotrebnog stupaca (stupac ima znakove koje sql ne prepoznaje)
df = df.dropna() # Brisanje redaka s nedostajućim vrijednostima
print("CSV size after: ", df.shape) # Ispis broja redaka i stupaca nakon predprocesiranja
print(df.head()) # Ispis prvih redaka dataframe-a

CSV size after:  (17562, 34)
   MAL_ID                             Name Score  \
0       1                     Cowboy Bebop  8.78
1       5  Cowboy Bebop: Tengoku no Tobira  8.39
2       6                           Trigun  8.24
3       7               Witch Hunter Robin  7.27
4       8                   Bouken Ou Beet  6.98

                                              Genres            English name  \
0    Action, Adventure, Comedy, Drama, Sci-Fi, Space            Cowboy Bebop
1              Action, Drama, Mystery, Sci-Fi, Space  Cowboy Bebop:The Movie
2  Action, Sci-Fi, Adventure, Comedy, Drama, Shounen                  Trigun
3  Action, Mystery, Police, Supernatural, Drama, ...      Witch Hunter Robin
4          Adventure, Fantasy, Shounen, Supernatural  Beet the Vandel Buster

    Type Episodes                         Aired    Premiered  \
0     TV       26   Apr 3, 1998 to Apr 24, 1999  Spring 1998
1  Movie        1                   Sep 1, 2001      Unknown
2     TV       26   Apr 1, 1998 to Sep 30, 1998  Spring 1998
3     TV       26   Jul 2, 2002 to Dec 24, 2002  Summer 2002
4     TV       52  Sep 30, 2004 to Sep 29, 2005    Fall 2004

                                           Producers  ...  Score-10   Score-9  \
0                                      Bandai Visual  ...  229170.0  182126.0
1                             Sunrise, Bandai Visual  ...   30043.0   49201.0
2                               Victor Entertainment  ...   50229.0   75651.0
3  TV Tokyo, Bandai Visual, Dentsu, Victor Entert...  ...    2182.0    4806.0
4                                   TV Tokyo, Dentsu  ...     312.0     529.0

    Score-8  Score-7  Score-6 Score-5  Score-4  Score-3  Score-2  Score-1
0  131625.0  62330.0  20688.0  8904.0   3184.0   1357.0    741.0   1580.0
1   49505.0  22632.0   5805.0  1877.0    577.0    221.0    109.0    379.0
2   86142.0  49432.0  15376.0  5838.0   1965.0    664.0    316.0    533.0
3   10128.0  11618.0   5709.0  2920.0   1083.0    353.0    164.0    131.0
4    1242.0   1713.0   1068.0   634.0    265.0     83.0     50.0     27.0

[5 rows x 34 columns]

In [9]:
# Random dijeljenje skupa podataka na dva dijela 80:20 (trebati će nam kasnije)
df20 = df.sample(frac=0.2, random_state=1)
df = df.drop(df20.index)
print("CSV size 80: ", df.shape)
print("CSV size 20: ", df20.shape)

CSV size 80:  (14050, 34)
CSV size 20:  (3512, 34)

In [10]:
# Spremanje predprocesiranog skupa podataka u novu CSV datoteku
df.to_csv("anime_PROCESSED.csv", index=False) # Spremanje predprocesiranog skupa podataka u novu CSV datoteku
df20.to_csv("anime_PROCESSED_20.csv", index=False) # Spremanje 20% skupa podataka u novu CSV datoteku